:root {
  --main-color: #8DBDFF;
  --main-text-color: #444C62;
  --secondary-bg: antiquewhite;
}

* {
  box-sizing: border-box !important;
}

.center-content-y {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}